:root {
  --destaque: #ffa500;
}

body {
  background-color: #111;
  color: #fff;
}

footer {
  border-top: 1px rgb(45, 45, 45) solid;
  margin-top: 2rem;
  padding: 1rem;
  background: #333;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  color: white;
}

header {
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  border-bottom: 1px rgb(45, 45, 45) solid;
  margin-bottom: 2rem;
  background: #333;
}

header a {
  color: white;
  font-weight: bold;
}

header a:hover {
  color: #ffa500;
}

header p {
  margin-left: auto;
}

#mark {
  color: var(--destaque);
}

strong {
  color: var(--destaque);
}

form button {
  margin-top: 10px;
  margin-bottom: 10px;
  background: #fff;
  color: var(--destaque);
  border-color: var(--destaque);
}

form button:hover {
  outline: none;
  box-shadow: 0px 0px 10px var(--destaque);
  text-shadow: 1px 1px 2px var(--destaque);
}

#calculadora {
  box-shadow: 0px 0px 20px var(--destaque);
  width: 70%;
  height: 350px;
  margin: auto;
  margin-bottom: 100px;
  background: #fff;
  color: #000;
  border-radius: 10px;
}

#calculadora h3 {
  color: var(--destaque);
}

article {
  padding: 0 3rem;
}

article h3 {
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 1rem;
}

.calculator-wrapper {
  min-width: 50rem;
  background: #232323;
  padding: 1rem;
  border-radius: 10px;
}

.calculator-wrapper .green-button {
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 50%;
  background: rgb(14, 174, 14);
}

.calculator-wrapper .red-button {
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 50%;
  background: rgb(219, 49, 49);
  margin-right: 0.5rem;
}

.calculator-wrapper .yellow-button {
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 50%;
  background: rgb(255, 206, 9);
  margin-right: 0.5rem;
}

.calculator-wrapper .window-title {
  color: rgb(141, 140, 140);
  font-weight: 600;
}

.calculator-wrapper .value-input {
  background: rgb(86, 86, 86);
  padding: 1rem 4rem;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  outline: none;
}

.calculator-wrapper .calculate {
  background: black;
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 8px;
  border: none;
  transition: 0.2s ease-in-out;
}

.calculator-wrapper .calculate:hover {
  background-color: #ffa500;
  color: black;
  font-weight: bold;
}
